server:
  port: 8080

spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: # 허용하려는 도메인
              - 'http://localhost:3000'
              - 'https://carematching.kro.kr'
            allow-credentials: true # 요청 시 인증 정보를 전송하도록 허가
            allowedHeaders: '*' # 허용하려는 헤더
            allowedMethods: # 허용하려는 HTTP 메서드
              - PUT
              - GET
              - POST
              - DELETE
              - OPTIONS
      httpclient: # 글로벌 설정
        connect-timeout: 1000 # 1s
        response-timeout: 10000 # 10s
        pool:
          max-idle-time: 65s # 커넥션 유지할 시간 (keep-alive)
          max-connections: 200
          acquire-timeout: 2000 # 풀의 여유 커넥션을 기다리는 최대 시간
      routes:
        # - id: example-service
        #   uri: lb://SERVICE-AUTH
        #   predicates:
        #     - Path=/auth/**
        - id: platform-service
          uri: "http://${carematching.platform.uri:localhost:8081}"
          predicates:
            - Path=/platform/**
          filters:
            - StripPrefix=1 # 경로의 첫 번째 세그먼트 제거 (숫자가 늘어나면 제거하는 경로의 깊이가 늘어남)
        - id: chat-service
          uri: "http://${carematching.chat.uri:localhost:8082}"
          predicates:
            - Path=/chat/**
          filters:
            - StripPrefix=1
        - id: chat-service-ws
          uri: "ws://${carematching.chat.uri:localhost:8082}"
          predicates:
            - Path=/chat/**
          filters:
            - StripPrefix=1
  application:
    name: gateway
