server:
  port: 8080

spring:
  cloud:
    gateway:
      httpclient: # 글로벌 설정
        connect-timeout: 3000 # 3s
        response-timeout: 5000 # 5s
        pool:
          max-connections: 200
          acquire-timeout: 45000 # 풀에서 커넥션을 기다리는 최대 시간
      routes:
        # - id: example-service
        #   uri: lb://SERVICE-AUTH
        #   predicates:
        #     - Path=/auth/**
        - id: carematching-service
          uri: "${carematching.backend.uri:http://localhost:8081}"
          predicates:
            - Path=/carematching/**
          filters:
            - StripPrefix=1 # 경로의 첫 번째 세그먼트 제거 (숫자가 늘어나면 제거하는 경로의 깊이가 늘어남)
  application:
    name: gateway

